@import "tailwindcss";

 
.topSide {
    background: rgba(101, 142, 189, 0.5); /* Beyaz, %20 opaklık */
    backdrop-filter: blur(10px); /* Arka planı 10px bulanıklaştır */
     /* Yuvarlatılmış köşeler */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(12, 12, 12, 0.1); /* Hafif bir gölge ekleyerek cam efekti */
    backdrop-blur: 5px; /* Daha fazla bulanıklık */
  }
.bottomSide {
    background: rgba(101, 142, 189, 0.5); /* Beyaz, %20 opaklık */
    backdrop-filter: blur(10px); /* Arka planı 10px bulanıklaştır */
    border-radius: 15px; /* Yuvarlatılmış köşeler */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(12, 12, 12, 0.1); /* Hafif bir gölge ekleyerek cam efekti */
    backdrop-blur: 5px; /* Daha fazla bulanıklık */
  }